/* Global Variables */

:root {
    --bkg-lin: #1F2937;
    --hr-main: #F9FAF8;
    --sec-col: #c6c9ce;
    --btn-col: #3882F6;
}


/* Global Changes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* General Styles */
.flex {
    display: flex;
}

.FS-20 {
    font-size: 20px;
}

.FS-18 {
    font-size: 18px;
}

.bold {
    font-weight: bold;
}


/* Layout Style */
.container  {
    padding: 5em 14em;
}

main .first > .container {
    padding-top: 2em;
}

.first, .main-content, footer {
    background-color: var(--bkg-lin);
}

.second {
    background-color: white;
}

.third {
    background-color: var(--sec-col);
}

.top-bar {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bkg-lin);
    padding: 1em 14em 0;
}

.logo {
    font-size: 24px;
    color: var(--hr-main);
    width: 50%;
}

a {
    text-decoration: none;
    color: var(--sec-col);
}

.nav-link {
    width: 50%;
    justify-content: flex-end;
}

.nav-link li {
    list-style-type: none;
    padding-left: 1.5em;
}

.nav-link li, .sec-text, .main-logo > p, .pic-descrip {
    color: var(--sec-col);
}

.main-content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-subcontain {
    padding-right: 3em;
    flex-direction: column;
    width: 50%;
    height: 250px;
}

.main-title {
    font-size: 48px;
    color: var(--hr-main);
    line-height: 1.2;
}

.sec-text{
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.btn-mn, .btn-ft {
    background-color: var(--btn-col);
    width: 130px;
    height: 50px;
    border-radius: 8px;
}

.btn-mn, .btn-ft, .cta-contain, footer {
    color: white;
}

.btn-mn {
    border: 1px solid var(--btn-col);
    padding-bottom: 2px;
}

.main-logo {
    width: 40%;
    height: 250px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 30px;
    color: var(--bkg-lin);
    text-align: center;
    margin-bottom: 0.5em;
}

.ilust-contain {
    justify-content: center;
}

.ilust-item {
    flex-direction: column;
    width: 170px;
    margin: 1.5em;
}

.pic {
    width: 170px;
    height: 170px;
    border: 4px solid var(--btn-col);
    border-radius: 20px;
    margin-bottom: 5px;
}

.pic-descrip {
    text-align: center;
    color: #6f7580;
}

.quote-contain {
    padding-left: 6em;
    padding-right: 6em;
}

.quote, .quote-auth {
    color: var(--bkg-lin);
}

.quote {
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
}

.quote-auth {
    text-align: end;
    padding-right: 6px;
}

.cta-contain {
    background-color: var(--btn-col);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 3em 6em;
    justify-content: space-between;
}

.btn-ft {
    border: 2px solid white;
}

footer {
    height: 5em;
    padding: 2em;
    text-align: center;
}


/* REMOVE WHEN TASKS ARE DONE*/
.REMOVE {
    position: fixed;
    width: 200px;
    height: 200px;
    bottom: 2em;
    right: 0;
    background-color: bisque;
    padding: 10px;
}

.REMOVE > ul{
    padding: 1em;
}